@model BookStore.Models.Borrowing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Borrowing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Returned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Returned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
